nav {
  width: 100%;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
ul {
  margin: 10px;
}
.logo {
  width: 250px;
}
nav ul li {
  list-style: none;
  display: inline;
  margin: 10px 20px;
  font-size: 16px;
}
