.footer {
  margin: 10px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #797979;
  padding: 15px 0;
}
.footer ul {
  display: flex;
}
.footer ul li {
  list-style: none;
  margin-left: 20px;
}
